<!DOCTYPE html>
%html
  %head
    %title#title
      Smile
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}
    %script{:type => "text/javascript", :src => "//www.google.com/jsapi"}
    %script{:type => "text/javascript", :src => "#{url_for('/libs/chartkick/chartkick.js')}"}
    %script{:type => "text/javascript", :src => "#{url_for('/libs/jquery/dist/jquery.min.js')}"}
    %link{:href=>"#{url_for('/libs/bootstrap/dist/css/bootstrap.min.css')}", :rel=>"stylesheet"}
    %link{:href=>"/css/default.css", :rel=>"stylesheet"}
    %script{:src=>"#{url_for('/libs/bootstrap/dist/js/bootstrap.min.js')}"}
  %body
    %nav.navbar.navbar-default{role: "navigation"}
      .navbar-header
        %button.navbar-toggle{type:"button", data:{toggle: "collapse", target: "#navbar"}}
          %span.sr-only
            Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href:"#{url_for("/")}"}
          Smile
      .collapse.navbar-collapse#navbar
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle{href: "#", role: "button", data:{toggle: "dropdown"}, aria:{expanded:false}}
              Messages
              %span.caret
            %ul.dropdown-menu{role: "menu"}
              %li
                %a{href:"/timing/graphs"}
                  Timings
              %li
                %a{href:"/message/list"}
                  List
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle{href: "#", role: "button", data:{toggle: "dropdown"}, aria:{expanded:false}}
              Errors
              %span.caret
            %ul.dropdown-menu{role: "menu"}
              %li
                %a{href:"/error/list"}
                  List
        %form.navbar-form.navbar-left{id: "search", action: "/search", method:"GET"}
          %input.form-control{type: "text", name: "q", placeholder: "Search word"}
          %button.btn.btn-default{type: "submit"}
            Search
    .container#content
      =yield
    .container.footer
      A 
      %a{href:"https://patf.net"}
        patf
      joint
:javascript

