%a.btn.btn-primary{href:"#{prev}"}
  <<
%a.btn.btn-primary{href:"#{nxt}"}
  >>
-if data[:entries].count == 0
  %h2 
    Messages
  No Matches...
-else
  %h2 
    Messages 
    %small
      (#{data[:entries].count})
  %table.table
    %tr
      -data[:entries].first.keys.each do |key|
        %th
          =key
    -data[:entries].each do |entry|
      %tr
      -entry.values.each do |k,v|
        %td
          .entry
            %a{href: "/message/#{entry.id}"}
              =v
-if data[:errors].count == 0
  %h2 
    Errors
    No Matches
-else
  %h2 
    Errors 
    %small
      (#{data[:errors].count})
  %table.table
    %tr
      -data[:errors].first.keys.each do |key|
        %th
          =key
    -data[:errors].each do |entry|
      %tr
      -entry.values.each do |k,v|
        %td
          .entry
            %a{href: "/message/#{entry.id}"}
              =v
